
/* 
    Created on : 31/10/2017, 19:27:26
    Author     : Paulo Cezar
*/

body{
    
    background:#f2f2f2;
    color:#555555;
    
}

#fantasma{
    
    padding: 10px 50px;
    outline: 0 none;
    color: #555555;
    font-size: 16px;
    cursor: pointer;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    
}

#opera{
    
    padding: 10px 50px;
    outline: 0 none;
    color: #f2f2f2;
    font-size: 16px;
    border: 0px;
    cursor: pointer;
    background: #606c88;
    background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
    background: -webkit-linear-gradient(top, #606c88 0%,#3f4c6b 100%);
    background: linear-gradient(to bottom, #606c88 0%,#3f4c6b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 );
    
}

#opera:hover{
    
    background: #465987;
    background: -moz-linear-gradient(top, #465987 0%, #344368 100%);
    background: -webkit-linear-gradient(top, #465987 0%,#344368 100%);
    background: linear-gradient(to bottom, #465987 0%,#344368 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#465987', endColorstr='#344368',GradientType=0 );

}

#opera:active{
    
    border: 3px solid #465987;
    border-style: inset;
    padding: 7px 47px;
    
}

#dragon{
    
    padding: 7px 47px;
    outline: 0 none;
    color: #f2f2f2;
    font-size: 16px;
    border: 0px;
    border: 3px solid #f3c5bd;
    cursor: pointer;
    
    background: #f3c5bd;
    background: -moz-linear-gradient(top, #f3c5bd 0%, #e86c57 40%, #ea2803 47%, #ff6600 53%, #c72200 100%);
    background: -webkit-linear-gradient(top, #f3c5bd 0%,#e86c57 40%,#ea2803 47%,#ff6600 53%,#c72200 100%);
    background: linear-gradient(to bottom, #f3c5bd 0%,#e86c57 40%,#ea2803 47%,#ff6600 53%,#c72200 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 );
    
}

#dragon:hover{
    
    background: #f3c5bd;
    background: -moz-linear-gradient(top, #f3c5bd 0%, #e86c57 49%, #700202 55%, #a31800 75%, #770000 100%);
    background: -webkit-linear-gradient(top, #f3c5bd 0%,#e86c57 49%,#700202 55%,#a31800 75%,#770000 100%);
    background: linear-gradient(to bottom, #f3c5bd 0%,#e86c57 49%,#700202 55%,#a31800 75%,#770000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#770000',GradientType=0 );

}

#dragon:active{
    
    border-style: inset;
    padding: 7px 47px;
    
}

#elfi{
    
    padding: 10px 50px;
    outline: 0 none;
    color: #f2f2f2;
    font-size: 16px;
    border: 0px;
    border: 3px solid #f3c5bd;
    cursor: pointer;    
    background: #efc5ca;
    background: -moz-linear-gradient(top, #efc5ca 0%, #d24b5a 50%, #ba2737 51%, #f18e99 100%);
    background: -webkit-linear-gradient(top, #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%);
    background: linear-gradient(to bottom, #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#f18e99',GradientType=0 );
    
}

#elfi:hover{
    
    background: #eda6ae;
    background: -moz-linear-gradient(top, #eda6ae 1%, #d24b5a 50%, #ba2737 51%, #ef394b 99%);
    background: -webkit-linear-gradient(top, #eda6ae 1%,#d24b5a 50%,#ba2737 51%,#ef394b 99%);
    background: linear-gradient(to bottom, #eda6ae 1%,#d24b5a 50%,#ba2737 51%,#ef394b 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eda6ae', endColorstr='#ef394b',GradientType=0 );

}

#elfi:active{
    
    border-style: inset;
    padding: 10px 50px;
    background: #eda6ae;
    background: -moz-linear-gradient(top, #efc5ca 0%, #d24b5a 50%, #ba2737 51%, #f18e99 100%);
    background: -webkit-linear-gradient(top, #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%);
    background: linear-gradient(to bottom, #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#f18e99',GradientType=0 );
    
}

#bold{
    
    padding: 10px 50px;
    outline: 0 none;
    color: #f2f2f2;
    font-size: 16px;
    border: 0px;
    border: 3px solid #9dd53a;
    cursor: pointer;    
    background: #9dd53a;
    background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
    background: -webkit-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
    background: linear-gradient(to bottom, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 );
    
}


#bold:hover{
    
    background: #96d323;
    background: -moz-linear-gradient(top, #96d323 0%, #a1d54f 50%, #80c217 51%, #5da500 100%);
    background: -webkit-linear-gradient(top, #96d323 0%,#a1d54f 50%,#80c217 51%,#5da500 100%);
    background: linear-gradient(to bottom, #96d323 0%,#a1d54f 50%,#80c217 51%,#5da500 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96d323', endColorstr='#5da500',GradientType=0 );
    
}

#bold:active{
    
    border-style: inset;
    padding: 10px 50px;
    background: #9dd53a;
    background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
    background: -webkit-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
    background: linear-gradient(to bottom, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 );
    
}

#power{
    
    padding: 10px 50px;
    outline: 0 none;
    color: #f2f2f2;
    font-size: 16px;
    border: 0px;
    border: 3px solid #cb60b3;
    cursor: pointer;  
    background: #cb60b3;
    background: -moz-linear-gradient(top, #cb60b3 0%, #c146a1 50%, #a80077 51%, #db36a4 100%);
    background: -webkit-linear-gradient(top, #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%);
    background: linear-gradient(to bottom, #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4',GradientType=0 );
    
}


#power:hover{
    
    background: #c627a1;
    background: -moz-linear-gradient(top, #c627a1 1%, #c146a1 50%, #a80077 51%, #d81c99 99%, #db36a4 99%, #db36a4 101%, #d8209b 102%);
    background: -webkit-linear-gradient(top, #c627a1 1%,#c146a1 50%,#a80077 51%,#d81c99 99%,#db36a4 99%,#db36a4 101%,#d8209b 102%);
    background: linear-gradient(to bottom, #c627a1 1%,#c146a1 50%,#a80077 51%,#d81c99 99%,#db36a4 99%,#db36a4 101%,#d8209b 102%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c627a1', endColorstr='#d8209b',GradientType=0 );
    
}

#power:active{
    
    border-style: inset;
    padding: 10px 50px;
    background: #cb60b3;
    background: -moz-linear-gradient(top, #cb60b3 0%, #c146a1 50%, #a80077 51%, #db36a4 100%);
    background: -webkit-linear-gradient(top, #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%);
    background: linear-gradient(to bottom, #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4',GradientType=0 );
    
}

#water{
    
    padding: 10px 50px;
    outline: 0 none;
    color: #f2f2f2;
    font-size: 16px;
    border: 0px;
    border: 3px solid #c5deea;
    cursor: pointer;  
    background: #c5deea;
    background: -moz-linear-gradient(top, #c5deea 0%, #8abbd7 31%, #066dab 100%);
    background: -webkit-linear-gradient(top, #c5deea 0%,#8abbd7 31%,#066dab 100%);
    background: linear-gradient(to bottom, #c5deea 0%,#8abbd7 31%,#066dab 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 );
    
}

#water:hover{
    
    background: #d0e4f7;
    background: -moz-linear-gradient(top, #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%);
    background: -webkit-linear-gradient(top, #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%);
    background: linear-gradient(to bottom, #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 );
 
}

#water:active{
    
    background: #c5deea;
    background: -moz-linear-gradient(top, #c5deea 0%, #8abbd7 31%, #066dab 100%);
    background: -webkit-linear-gradient(top, #c5deea 0%,#8abbd7 31%,#066dab 100%);
    background: linear-gradient(to bottom, #c5deea 0%,#8abbd7 31%,#066dab 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 );
    
}

#redEgg{
    
    padding: 10px 50px;
    outline: 0 none;
    color: #f2f2f2;
    font-size: 16px;
    border: 0px;
    border: 3px solid #cc0000;
    cursor: pointer;  
    background: #cc0000;
    background: -moz-linear-gradient(top, #cc0000 0%, #990000 74%); 
    background: -webkit-linear-gradient(top, #cc0000 0%,#990000 74%);
    background: linear-gradient(to bottom, #cc0000 0%,#990000 74%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#990000',GradientType=0 );
    
}

#redEgg:hover{
    
    background: #cc2c2c;
    background: -moz-linear-gradient(top, #cc2c2c 2%, #aa2525 4%, #7c0000 75%, #990000 97%);
    background: -webkit-linear-gradient(top, #cc2c2c 2%,#aa2525 4%,#7c0000 75%,#990000 97%);
    background: linear-gradient(to bottom, #cc2c2c 2%,#aa2525 4%,#7c0000 75%,#990000 97%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc2c2c', endColorstr='#990000',GradientType=0 );
    
}

#redEgg:active{
    
    background: #cc0000;
    background: -moz-linear-gradient(top, #cc0000 0%, #990000 74%); 
    background: -webkit-linear-gradient(top, #cc0000 0%,#990000 74%);
    background: linear-gradient(to bottom, #cc0000 0%,#990000 74%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#990000',GradientType=0 );
    
}